/* Write your code here. */
.main-container {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 80px;
}
